{% extends 'firstapp/base.html' %}
<title>{% block title %}Forgot Password{% endblock %}</title>
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel-default">
                    <div class="panel-body">
                        <form method="post" action="", class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="User Name" required="required"/>
                            {% if error %}
                                <strong class="text-danger">{{ error }}</strong>
                            {% endif %}
                            <br><br>
                                    <button type="submit" class="btn btn-success">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}